body {
background-image: url("https://file.garden/Z_fobQ8HS2YH3ES0/sweetheart_imgs/tumblr_mf70opNl1y1rhuas2o2_250.gif");
}

#my-melo-tag {
  position: absolute;
  top: 30vh;
  left: 30vw;
  z-index: 1000;
}

/* For smaller screens (like phones) */
@media (max-width: 768px) {
  #my-melo-tag {
    top: 40vh;   /* move slightly lower */
    left: 50vw;  /* center horizontally */
    transform: translateX(-50%);
  }
}

/* For very small phones */
@media (max-width: 480px) {
  #my-melo-tag {
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }

  #my-melo-tag img {
    width: 70%; /* scale down image */
  }
}
