body {
background-image: url("https://file.garden/Z_fobQ8HS2YH3ES0/sweetheart_imgs/tumblr_mf70opNl1y1rhuas2o2_250.gif");
}

button {
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
border: 0px transparent;
outline: 0px transparent;
}
