body {
background-image: url("https://file.garden/Z_fobQ8HS2YH3ES0/sweetheart_imgs/tumblr_mf70opNl1y1rhuas2o2_250.gif");
}

#my-melo-tag button {
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
border: 0px transparent;
outline: 0px transparent;
padding-block: 0px;
padding-inline: 0px;
background-color: Transparent;
background-repeat:no-repeat;  
}

#my-melo-tag {
  position: fixed;              /* stays in place when scrolling */
  top: 1px;                   /* distance from top */
  left: 1px;                  /* distance from left */
  z-index: 1000;                /* above other content */
}
